html {
	scroll-behavior: smooth;
	background-color: #f2f2f2;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

header, main, footer {
	padding-left: 300px;
}

main {
	margin-top: -10px
}

.fixed-navicon {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 48px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 10px;
		padding-top: 10px;
	}

	.material-icons {
		font-size: 32px;
		margin-left: 0px;
	}
}

.sidenav {
	width: 300px;
	background-color: #212121;
}

#current-position {
	color: #bdbdbd;
}

.side-link a {
	transition: background-color 0.5s, color 0.5s ;
	color: #bdbdbd !important;
}

.side-link-footer {
	position: fixed;
	width: 100%;
	top: 85%;
}

.side-link-footer a {
	padding: 5px;
	margin: 10px;
}

.side-link-footer a .fa:before {
	color: white !important;
	font-size: 32px;
}

.fa{
	transition: color 0.5s ;
}

.side-link .link-text:hover .fa:before{
	transition: color 0.5s, background-color 0.5s ;
	color: white !important;
}

.link-test i .icon::before {
	transition: color 0.5s;
}

.side-link:hover, .side-link .link-text:hover{
	background-color: #3e948c;
	color: white !important;
	transition: background-color 0.5s, color 0.5s;
}

.icon::before {
	color: #bdbdbd !important;
	transition: background-color 0.5s, color 0.5s ;
}


#projects .collapsible-header {
	transition: background-color 0.5s ;
	background-color: white;
}

#projects .collapsible-header:hover {
	background-color: #ffdca8;
	transition: background-color 0.5s ;
}

#projects .collapsible-body {
	background-color: white;
}

#skills .collapsible-header {
	transition: background-color 0.5s ;
	background-color: white;
}

#skills .collapsible-header:hover {
	background-color: #a1e2ff;
	transition: background-color 0.5s ;
}

#skills .collapsible-body {
	background-color: white;
}

.btn {
	background-color: #3e948c;
}

.indicator-item {
	background-color: grey !important;
}

.indicator-item.active {
	background-color: #e6e6e6 !important;
}

.movePrevCarousel, .moveNextCarousel {
	cursor: pointer;
}

.movePrevCarousel i, .moveNextCarousel i {
	font-size: 40px;
	cursor: pointer;
}

.tabs .tab a{
	color: #a26dc2;
} /*Black color to the text*/

.tabs .tab a:hover {
	color: #7B01C2;
} /*Text color on hover*/

.tabs .tab a.active {
	color: #7B01C2;
} /*Background and text color when a tab is active*/

.tabs .indicator {
	background-color: #a26dc2;
} /*Color of underline*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: #e6d7f5;
	outline: none;
}